body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(43, 40, 40);
}
.button{
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    font-size: 1.2rem;
    padding: 12px 24px; 
}

#text{
    margin: 5px;
    color: white;
    text-shadow: 2px 2px 4px #000000; 
    font-size: 2.5rem;
}
#paragraph{
    margin: 3px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.3rem;

}
.button-row {
    display: flex;
    flex-direction: row;
    gap: 10px; /* space between buttons */
    margin: 10px 0;
}